.container {
    margin: auto;
    width: 480px;
    height: 600px;
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(255, 30, 214);
  }

.button{
    width: 300px;
    margin: auto;
    text-align: center;
    font-size: xx-large;
    background-color: rgb(255, 30, 214);
    border: #f1f1f1;

}

.score{
    text-align: center;
    font-size: xx-large;
}
  
.card{
    background-color: #f1f1f1;
  width: 100px;
  height: 130px;
  margin: 10px;
  text-align: center;
  
  font-size: 30px;
}

